.html,
.body {
  min-height: 100%;
  position: relative;
}

.rounded {
  border-radius: 2px;
}

.info {
  height: 120px;
  overflow: hidden;
}

.project-title {
  font-size: 20px;
  line-height: 1.2;
  min-height: 48px;
}

.project-title:hover {
  color: #8d8d8d
}

.contributor-img {
  width: 100%;
  max-width: 80px;
}

.link:hover {
  color: #FFF;
}

.footer {
  text-align: center;
}

.js {
  background: #F9C45C;
}

.java {
  background: #d9534f;
}

.swift {
  background: #5bc0de;
}

.python {
  background: #3C78A9;
}

.ruby {
  background: #B60E01;
}

.scala {
  background: #15A9CE;
}

.cerberus-image img {
  padding: 8px;
}

@media only screen and (max-width: 1000px) {
  .cerberus-image img {
    padding: 12px;
  }
}

@media only screen and (min-width: 641px) {
  .footer {
    text-align: left;
  }

  .social {
    text-align: right;
  }
}

@media only screen and (min-width: 1025px) {
  .img {
    max-width: 224px;
    margin-left: auto;
    margin-right: auto;
  }
}
